<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<ul>
<% Review.all.each do |review| %>
<% beach = Beach.find(review.beach_id) %>
  <li><%= beach.name %>, <%= review.rating %>, <%= review.description %> <a href="/reviews/<%= review.id %>/edit">Edit</a></li>
<% end %>
</ul>

<a href="/beaches">All Beaches</a><a href="/logout">Log Out</a>
