<% if !!flash(:message) %>
  <%= flash[:message] %>
<% end %>
<br><br>


<%= @review.beach.name %>
  <ul>
    <li>Rating: <%= @review.rating %></li>
    <li>Description: <%= @review.description %></li>
    <li>Written By: <%= @review.user.username %></li>
  </ul>


<% if @review.user_id == current_user.id %>
  <a href="/reviews/<%= @review.id %>/edit">Edit</a>
<% end %>

  <a href="/users/<%= @user.username %>">Home</a>

  <a href="/beaches/<%= beach.slug %>">All <%= beach.name %> Reviews</a>

<a href="/reviews">All Reviews</a><a href="/beaches">All Beaches</a><a href="/logout">Log Out</a>
