
<ul>
<% Beach.all.each do |beach| %>
  <li><a href="/beaches/<%= beach.slug %>"><%= beach.name %>, <%= beach.shore %>, <%= beach.city %></a></li>
  <% end %>
</ul>

<a href="/users/<%= @user.username %>">Home</a><a href="/reviews">All Reviews</a><a href="/logout">Log Out</a>
