show beach

<%= @beach.name %> <br>
<ul>
<% @beach.reviews.each do |review| %>

  <li><%= review.rating %>, <%= review.description %>, <a href="/reviews/<%= review.id %>/edit">View</a> </li>

<% end %>
</ul>

<a href="/users/<%= @user.username %>">Home</a><a href="/reviews">All Reviews</a><a href="/beaches">All Beaches</a><a href="/logout">Log Out</a>
